#root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid white;
  gap: 10%;
}

.DisplaySection{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
}
.editSection{
  display: flex;
  flex-direction: column;
  gap: 10%;
}

